.first-section {
  padding-top: 100px;
}

.navbar {
  height: 100px;
  font-family: 'Roboto Slab';
}

.navbar-brand {
  background-color: #0085ac;
  height: 100px;
  padding-right: 60px;
  padding-left: 50px;
  margin-right: 0 !important;
  letter-spacing: 0.5px;
  font-size: 21px;
}

ul.navbar-nav a.nav-link {
  padding-top: 2.33rem;
  padding-bottom: 2.33rem;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  color: white !important;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul.navbar-nav:first-child li.nav-item {
  border-right: 1px solid rgba(0,0,0,0.1); // red green blue alpha
}

ul.navbar-buttons li.nav-item {
  border-left: 1px solid rgba(0,0,0,0.1); // red green blue alpha
}

a:hover {
  background-color: #071013;
}

.dropdown-menu {
  border-radius: 0px !important;
  margin-top: 0px !important;
}

ul .dropdown-menu a.dropdown-item {
  padding: 15px 15px;
  font-size: 13px;
}

ul .dropdown-menu a.dropdown-item:last-child {
  border-bottom: 0px;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.navbar-buttons {
  margin-left: auto;
}

.first-section {
  background-color: #40bce0;
  display: block;
  color: #ffffff;
  padding-bottom: 10rem;
}

header {
  text-align: center;
  padding-top: 60px;
}

h1 {
  font-family: 'Roboto Slab';
  font-size: 50px !important;
  padding-bottom: 50px;
  font-weight: bold !important;
}

.first-section h1 span {
  background-color: #ffffff;
  color: #00a6d6;
  padding: 0.5rem 1rem;
}

h3 {
  font-family: 'Reenie Beanie';
  bottom: 100px;
  font-size: 70px !important;
  padding-bottom: 60px;
}

.circle {
  height: 70px;
  width: 70px;
  background-color: #fff;
  border-radius: 50%;
  color: #828282;
  margin: auto;
  padding: 19px 0;
  position: relative;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Roboto Slab';
}

.circle::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  left:0;
  right:0;
  margin: auto;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  border-color: #ffffff transparent transparent transparent;
}

.small-text {
  position: relative;
  display: flex;
  margin: auto;
  text-align: center;
}

.small-text p {
  padding-right: 2rem;
  padding-left: 2rem;
  font-family: 'Roboto Slab';
  font-size: 15px;
  margin-top: 20px;
}

iframe {
  display: flex;
  margin-top: -100px;
  border-radius: 15px;
}

.second-section {
  background-color: #ffffff;
  color: #a2aebb;
  text-align: left;
  font-family: 'Roboto Slab';
}

.second-section .row p {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
  margin-top: 20px;
}

.second-section .row i {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.icon {
  height: 85px;
  width: 85px;
  background-color: #00a5d5;
  border-radius: 50%;
  color: #fff;
  margin: auto;
  padding: 21px 0;
  position: relative;
  border: 10px solid white;
  top: 39px;
}

.image-wrapper {
  height: 130px;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  font-family: 'Roboto Slab';
  color: #0085ac;
  font-weight: 900 !important;
  font-size: 45px !important;
  padding-bottom: 2.5rem;
  padding-top: 3rem;
}

.second-section .row {
  padding-bottom: 6rem;
}

img {
   width: auto;
   padding-right: 3.5rem;
   padding-left: 3.5rem;
}

footer {
  background-color: #071013;
  color: #a2aebb;
  height: 100px;
}

footer a {
  color: #a2aebb;
}
